{% extends 'base.html' %}

{% block titulo %}
{{ noticia.titulo }}
{% endblock %}

{% block contenido %}
<article class="detail-card">
    <div class="col">
        <div class="card h-100">
            <!-- FIXME ENZO: Tomar imagen desde BD segun Noticia -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHvevqdetxTWZXzQnrZmlCX5hH9ZXnqp8x2A&usqp=CAU"
                class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{ noticia.titulo }}</h5>
                    <h6>{{ noticia.titulo_cartel }}</h6>
                    <p class="card-text">{{ noticia.cuerpo }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ noticia.fecha_noticia }} - Por: {{ noticia.autor}}</small>
            </div>
        </div>
    </div>
</article>

<section class="comments-container">

     <div class="row">
                   
        {% if not noticia.comentarios.all %}
            <center><h5> No hay comentarios.. </h5></center>
        {% else %}
            <center><h5> Todos los Comentarios </h5></center>
            {% for comment in noticia.comentarios.all %}
                <div class="card">

                    <div class="card-header">
                        <strong> {{ comment.usuario }} - {{ comment.fecha_comentario }} </strong>
                    </div>

                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            {{ comment.comentario }}
                            <!-- <footer class="blockquote-footer">Fecha de Comentario <cite title="Source Title">- Moderador
                                /
                                Visitante</cite>
                            </footer> -->
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        
    </div>

</section>
{% if user.is_authenticated %}
<a href="{% url 'crear_comentario' noticia.pk %}" class="btn btn-primary">Comentar</a>

{% else %}
<h5> Debes iniciar sesión para comentar..</h5>
<a class="btn btn-primary w-25" href="{% url 'login' %}">Iniciar Sesión</a>

{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>


{% endblock %}