{% extends 'base.html' %}

{% block titulo %}
{{ noticia.titulo }}
{% endblock %}

{% block contenido %}
<article class="detail-card">
    <div class="col">
        <div class="card h-100">
            {% if noticia.imagen %}
                <img src="{{ noticia.imagen.url }}">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ noticia.titulo }}</h5>
                    <h6>{{ noticia.titulo_cartel }}</h6>
                    <p class="card-text">{{ noticia.cuerpo | safe }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ noticia.fecha_noticia }} - Por: {{ noticia.autor}}</small>
            </div>
        </div>
    </div>
</article>
<section class="comments-container">
    <button class="btn btn-light w-100" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1"
        aria-expanded="false" aria-controls="multiCollapseExample1">Escribir un Comentario</button>
    <div class="row">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                {% if user.is_authenticated %}
                <a href="{% url 'crear_comentario' noticia.pk %}" class="btn btn-primary">Comentar</a>
                {% else %}
                <h5> Debes iniciar sesión para comentar..</h5>
                <a class="btn btn-primary w-25" href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
    <button class="btn btn-light  w-100" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
        aria-expanded="false" aria-controls="multiCollapseExample2">Ver Todos los Comentarios</button>
    <div class="row">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            {% if not noticia.comentarios.all %}
            <center>
                <h5> No hay comentarios.. </h5>
            </center>
            {% else %}
            {% for comment in noticia.comentarios.all %}
            <div class="card">
                <div class="card-header">
                    {{ comment.usuario }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.comentario }}</p>
                        <footer class="blockquote-footer">
                            {{ comment.fecha_comentario }}
                        </footer>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
{% endblock %}