{% extends 'base.html' %}

{% block titulo %} CONTACTO {% endblock %}
{% block contenido %}
<article class="inst-container">
  <section class="d-flex justify-content-evenly">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.5646829175416!2d-58.9450381498612!3d-27.48280872375522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572b5f0372531%3A0xdac449dfe0238d5b!2sDiag.%20Eva%20Per%C3%B3n%20425%2C%20H3503%20Barranqueras%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1661557459515!5m2!1ses-419!2sar"
      width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="card" style="width: 25rem">
      <div class="card-header">
        <h4>Contactanos</h1>
      </div>
      <img
        src="https://thumbs.dreamstime.com/b/tel%C3%A9fono-blanco-carta-sobre-y-s%C3%ADmbolos-de-correo-electr%C3%B3nico-inclinados-fondo-oscuro-pared-con-suelo-madera-p%C3%B3ngase-en-172699639.jpg"
        alt="" width="400" height="225">
      <div class="card-body card-body-contact d-flex flex-column">
        <a href="https://www.facebook.com/institutobarranqueras" target="_blank">
          <i class="fa-brands fa-facebook"></i>FB/institutobarranqueras
        </a>
        <a href="https://www.instagram.com/institutobarranqueras/" target="_blank">
          <i class="fab fa-instagram"></i>IG/institutobarranqueras
        </a>
        <a href="https://wa.me/543624259382/" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>+54 362 425 0382
        </a>
        <a href="mailto:uep161info@educ.ar" target="_blank">
          <i class="fa-solid fa-at"></i>
          uep161info@educ.ar
        </a>
      </div>
    </div>
  </section>
</article>
{% endblock %}