{% extends 'base.html' %}

{% block titulo %} Nuestra Mision {% endblock %}
{% block contenido %}

<article class="inst-container">
  <section class="inst-header">
    <img src="https://img.freepik.com/fotos-premium/guy-sonriendo-mientras-toma-notas_85574-13579.jpg?w=2000"
      alt="">
    <div>
      <p>Somos la primer y única Institución de nivel terciario de la localidad de Barranqueras.
        Apostamos a la transformación comunitaria de nuestra localidad.
      </p>
    </div>
  </section>
  
</article>
{% endblock %}
