{% extends 'base.html' %}

{% block titulo %} Nuestra Mision {% endblock %}
{% block contenido %}

<article class="inst-container">
  <section class="inst-header">
    <img src="https://img.freepik.com/fotos-premium/guy-sonriendo-mientras-toma-notas_85574-13579.jpg?w=2000"
    
      alt="" width="600" height="300">
    <div>
      <p><span><h4>Somos la primer y única Institución de nivel terciario de la localidad de Barranqueras.<br></br>
        Apostamos a la transformación comunitaria de nuestra localidad, educar y formar 
        integralmente a jóvenes para el mundo del trabajo, integrando la técnica y la cultura
        por medio de la razón para descubrir y vivenciar la vocación de servicio en el ámbito 
        socio-cultural que cada uno integra; formando personas cocientes, competentes y solidaria,
        con raíces en su cultura, abiertos a su tiempo y al futuro.<br></br></span></h4>
      </p>
    </div>
  </section>
  <section class="inst-body">
      <p><h4>Brindar fomación técnica promoviendo en los jóvenes y adultos el aprendizaje de capacidades, conocimientos, habilidades, destrezas y actitudes relacionadas con los desempeños profesionales propios del contexto socio-productivo, que permitan conocer la realidad a partir de la reflexión sistemática sobre la práctica y la aplicación sistematizada de la teoría, desarrollando la cultura del trabajo y la producción para el desarrollo sustentable de nuestra provincia.<br></br>
      Promover la construcción de la indentidad técnica basada en la autonomía profesional, el vínculo con la cultura y la sociedad contemporánea, el trabajo en equipo, el compromiso con la igualdad y la confianza en las posibilidades de aprendizaje.</h4>
      </p>
    </div>
  </section>
</article>
{% endblock %}