{% extends 'base.html' %}

{% block titulo %} NOTICIAS {% endblock %}

{% block contenido %}

<form class="d-flex w-50" role="search">
    <select name="select">
        <option value="value1">Categoria</option>
        <option value="value2" selected>Fecha</option>
    </select>
    <input class="form-control me-4" type="search" placeholder="Filtrar" aria-label="Filtrar" />
    <button class="btn btn-outline-primary">
        Filtrar
    </button>
</form>
<section class="newsContainer">

    {% for noticia in object_list %}
    <div class="card" style="width: 18rem">
        <!-- FIXME: LINK a imagen de noticia-->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHvevqdetxTWZXzQnrZmlCX5hH9ZXnqp8x2A&usqp=CAU"
            class="card-img-top" alt="..." />
        <div class="card-body card-body-home">
            <h5 class="card-title">{{ noticia.titulo }}</a> - {{ noticia.autor }}</h5>
            <p class="card-text">
                {{ noticia.cuerpo }}
            </p>
            <div class="card-buttons">
                <a href="{% url 'detalle-noticia' noticia.pk %}" class="btn btn-primary">Leer mas...</a>
                <a href="{% url 'eliminar_noticia' noticia.pk %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}