.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.form-contenedor {
  display: flex;
  width: 50%;
}

.newsContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

.logoImg {
  height: 100px;
}
